<h1 align="center"> IRIS MACHINE LEARNING MODEL</h1>
<body style="background-color: grey;"></body>
<form action="/predict" method="post">
  <input type="number" name="sepal_len" placeholder="sepal lenght" required="required"><br>
  <input type="number" name="sepal_wid" placeholder="sepal width" required="required"><br>
  <input type="number" name="petal_len" placeholder="petal lenght" required="required"><br>
  <input type="number" name="petal_wid" placeholder="petal width" required="required"><br>
  <input type="Submit">

</form>